{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "eqeqeq": ["warn", "always"],
    "array-bracket-spacing": ["warn", "always"]    
  },
  "plugins": ["@typescript-eslint"], 
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}

